{% extends 'STApp/base.html' %}

{% block content %}
<h1 align="center">About Us</h1>
<center><div class="card text-white bg-success mb-3" style="max-width: 30rem;">
    <div class="card-header">Smart Tailor since 1975</div>
    <div class="card-body">
      <p class="card-text">Smart Tailor is one of the oldest Tailor in Saharsa and First Tailor in Saharsa to provide online services.</p>
      <p class="card-text">Call us to collect fabric and measurements. We will deliver clothes to your doorstep.</p>
      
    </div></center>
{% endblock %}