{% extends 'STApp/base.html' %}

{% block content %}
<h1 align="center">Contact Us</h1>
<table>
<thead>
  <th>
<div class="card" style="width: 50rem;">
    <div class="card-body">
      <h3>Find Us Here</h3>
      {{m|safe}}
    </div>
  </div>

</th>
<th> 
  <div calss="container">
    <h2 align="center"><span style="color:green; background-color:yellow;">Smart Tailor</span></h2>
    <h3>D.B Road, Near Alok Paneer,
      Saharsa (Bihar), 852201</h3>
      <h3 align="center"><span style="background-color:red; color:yellow;">Call: 8862867998, 9386077461</span></h3>
  </div>
</th>
</thead>
</table>

{% endblock %}
