{% extends 'STApp/base.html' %}

{% block content %}
<h1 align="center">Contact Us</h1>
<table>
<thead>
  <th>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3589.423206506306!2d86.59175741502351!3d25.888454683579365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ee3d051e6415c5%3A0x9de0df2aba98d9d6!2sSmart%20Tailor!5e0!3m2!1sen!2sin!4v1645343425263!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
{% comment %} <div class="card" style="width: 50rem;">
    <div class="card-body">
      <h3>Find Us Here</h3>
      {{m|safe}}
    </div>
  </div> {% endcomment %}

</th>
<th> 
  <div calss="container">
    <h2 align="center"><span style="color:green; background-color:yellow;">Smart Tailor</span></h2>
    <h3>D.B Road, Near Alok Paneer,
      Saharsa (Bihar), 852201</h3>
      <h3 align="center"><span style="background-color:red; color:yellow;">Call: 8862867998, 9386077461</span></h3>
  </div>
</th>
</thead>
</table>

{% endblock %}
